/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (max-width:1366px){
	.main-slider2 .mslider-caption {padding: 14% 15%;} 
	.masonry-gallery.grid-10 .isotope-item {width: 20%;}
	.divider-triangle.half-block::before {width: 44%;}
	.education {margin-top: 160px;}
 }
/*  (min-width:1200px)+++ */
@media only screen and (max-width:1200px){
	.carousel-caption h1 {font-size: 36px;}
 }
/* (min-width:992px) (max-width:1199px) */
@media only screen and (max-width:1199px){
	/* ExTra Class Start*/
	.p0-mdd {padding: 0;}
	.m0-mdd {margin: 0; !important;}
	.tac-md {text-align: center;}
	.dn-md {display: none !important;}
	.pad395-md {padding-left: 5px; padding-right: 5px;}
	.pad330-md {padding-right: 0;}
	.pad390-md {padding-left: 0;padding-right: 0;}
	/* ExTra Class End*/
	/* Margin Padding Change In Responsive Area */
	.ulockd-pad9100 {padding-left: inherit !important;}
	.pl130-md {padding-left: 130px;}
	/* END */
	.ulockd-main-logo2 img {margin-top: 23px;width: 150px;}
	nav.navbar.bootsnav.menu-style1 ul.nav > li > a {padding: 30px 8px;}
	.ulockd-quote-btn a {padding: 10px 30px;}
	.ulockd-ohour-info.style2 {margin-bottom: 15px;}
	.ulockd-blog-post  {margin-bottom: 50px;}
	.welcm-ht{text-align: center !important;}
	.social-linked {float: none !important; margin-bottom: 10px; text-align: center;}
	/* home responsibe style Start*/
	
	.cd-slider-nav { width: 100%;}
	/* home slider end */
	/* home responsibe style 2 Start*/
	.main-slider2 .mslider-caption {padding: 13% 7%;}
	/* home slider end */	
	.feature-box .overlay {padding: 0px 20px 0px;}
	.ficon-box {margin-top: 0;}
	.ulockd-frst-divider::after {display: none;}
	.bp-details {padding: 15px 40px;}
	.masonry-gallery.grid-4 .isotope-item {width: 33.33%;}
	.masonry-gallery.grid-5 .isotope-item {width: 20%;}
	.masonry-gallery.grid-6 .isotope-item, .masonry-gallery.grid-7 .isotope-item, .masonry-gallery.grid-8 .isotope-item, .masonry-gallery.grid-9 .isotope-item, .masonry-gallery.grid-10 .isotope-item {width: 25%;}
    .team-icon.style2 > li {padding: 0px;}
	.team-one{margin-bottom: 50px; text-align: center;}
	.flip-container .flipper .back {padding: 0px 15px;}
	.ulockd-testimonials {margin-bottom: 15px;}
	.social-linked li {margin-bottom: 10px;}
	.ulockd-pricing-table {margin-bottom: 80px;}
	.ulockd-quote-btn {right: 11%;}
	.ulockd-shop-item {margin-bottom: 50px;}
	.fservice-box {margin-bottom: 50px;}
	.srvc-details {padding: 10px;}
	.fslmn-one .fc-icon {top: 2%;}
	.posted-date {bottom: -20%;}
	/* Shop section */
	.shop-thumb.style2.shop_bg3, .shop-thumb.style2.shop_bg4 {
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
	.feature-box {height: 225px;}
	.feature-box h3 {margin-bottom: 0;}
	.education {
	    position: absolute;
	    display: block;
	    left: 0;
	    right: 0;
	    opacity: .05;
	    bottom: 0;
	    top: -100px;
	}
	.course-box .cb-details .lectureer {top: -60%;}
	.testimonial-grid {padding: 15px 10px;}
	.team_member .tm_thumb {padding: 30px 25px;}
	.course-box {margin-bottom: 30px;}
    .team-member-two .team-two-details {bottom: -68.5%;}
}
@media only screen and (max-width:1024px){
	.carousel-caption {top: 20%;}
	.main-slider2 .mslider-caption {padding: 8%;}
}
@media only screen and (max-width:992px){
	.ulockd-main-logo2 > img {margin-top: 10px;}
}
/* (min-width:768px) (max-width:991px) */
@media only screen and (max-width:991px){
	/* ExTra Class Start*/
	.mb50-smd {margin-bottom: 50px;}
	.mt50-smd {margin-top: 50px;}
	.mb35-smd {margin-bottom: 35px;}
	.tal-smd {text-align: left;}
	.tac-smd {text-align: center;}
	.fn-smd {float: none !important;}
	.dn-smd {display: none !important;}
	.dv-smd {display: inherit !important;}
	.ulockd-mrgn650 {margin-bottom: 0;}
	.ulockd-pad395 {padding-left: 15px;padding-right: 15px;}
	/* ExTra Class End*/
	.ulockd-main-logo2 img {width: auto;}
	.ulockd-ffact-one {margin-bottom: 40px;}
	.feature-box .overlay {padding: 0px 5px 0;}
	.feature-box h3 {font-size: 20px;}
	.ulockd-ffact{margin-bottom: 60px;}
	.ulockd-ffact-one:hover {margin-top: 0;}
	.shop-box, .shop-box2, .about-box, .divider-box {margin-bottom: 50px;}
	.carousel-caption {top: 20%;}
	.carousel-caption.style2 {left: 10%;}
	.carousel-caption.style3 {left: 10%;}
	.social-linked {margin-top: 10px;margin-bottom: 0 !important;}
	/* Icon box */
	.icon_box:hover .icon {
	  -webkit-transform: none;
	  -moz-transform: none;
	  -ms-transform: none;
	  -o-transform: none;
	  transform: none;
	}
	.icon_box .ib_details.left {margin-right: 0;}
	.icon_box .ib_details {margin-left: 0;}
	/* Shop section */
	.shop-thumb.style2.shop_bg1, .shop-thumb.style2.shop_bg2 {
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
	.ulockd-partner-thumb{margin-bottom: 30px;}
	.welcm-ht {margin-bottom: 15px;}
	.welcm-ht-two {text-align: center;}
	.ulockd-login-form {margin-bottom: 25px;}
	.social-linked-two{float: none !important;margin-bottom: 10px;text-align: center;}
	.ulockd-main-logo > img, .ulockd-main-logo2 > img {margin-top: 10px;}
	/* Home responsibe style Start*/
	.main-slider2 .mslider-caption{padding: 8%; }
	.main-slider2 .slider-text2{font-size: 48px;line-height: 48px;}
	.main-slider2 .slider-text3{margin-top: 10px;}
	.main-slider2 .owl-prev {left: 5px;}
	.main-slider2 .owl-next {right: 5px;}
	.all-body-content {margin-bottom: 0;}
	.ulockd-footer.fixed-footer {position: relative;}
	/* home slider end */
	/* Navbar responsibe style Start*/
	.navbar-brand .logo {height: 37px;}
	.navbar.bootsnav .nav.navbar-nav .dropdown li{padding: 10px 15px;}
	.navbar.bootsnav .nav.navbar-nav .dropdown li:hover a {padding-left: 15px;}
	nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content h5.title,
	nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .content ul.menu-col li a {color: #313131;}
	.top-search .input-group-addon.close-search {color: #fff;}

	/* Navbar responsibe style End*/
	.htc-info .ulockd-info {padding-right: 36%;}
    .masonry-gallery.grid-4 .isotope-item{width: 50%;}
	.masonry-gallery.grid-5 .isotope-item, .masonry-gallery.grid-6 .isotope-item, .masonry-gallery.grid-7 .isotope-item, .masonry-gallery.grid-8 .isotope-item, .masonry-gallery.grid-9 .isotope-item, .masonry-gallery.grid-10 .isotope-item {width: 33.33%;}
    /* Coming Soon Page */
    .ulockd-flip-clock .clock{padding-left: 0;}
	.team-member-two {margin-bottom: 50px;}
	.flip-container {margin-bottom: 30px;}
	.team-two-details {bottom: -42%;}
	.service-col:hover {margin-top: 0;}
	.service-col {margin-bottom: 50px !important;}
	.ulockd-team-one .team-one {margin-bottom: 50px;}
	.ulockd-blog-post {margin-bottom: 25px;}
	.rs-smd-pad395 {padding-right: 5px;padding-left: 5px;}
	.product-shop-pop {margin-bottom: 25px !important;}
	.ulockd-footer-qlink{margin-bottom: 35px;}
	.shop-form-control {margin-bottom: 15px;}
	.divider-triangle.half-block::before {width: 50%;}
	.divider-box-tringle {padding: 50px 15px 50px 0;}
	.divider-box-tringle2 {padding: 0;}
	.ulockd-ffact-one {margin-bottom: 30px;}
	.ulockd-ffact-one:hover{margin-top: 0;}
	.search-box {margin-top: 0;}
	.course-search .form-group {margin-bottom: 30px;}
	.course-search select.study_level option, .course-search select.course_length option {height: 30px;}
	.course-box {margin-bottom: 35px;}
	.team_member .tm_thumb {padding: 30px 25px 0;}
	.cd-slider-nav nav {display: inline-block;}
	.twitter-widget {margin-bottom: 35px;}
    .team-member-two .team-two-details {bottom: -42%;}
}
@media only screen and (max-width:800px)
{
	#navbar-s
	{
		display: none;
	}
	#navbar-M
	{
	display: block!important;
	}
	.ttm-topbar-wrapper:before
	{
	 background-color: #172b53!important;
	}
	.topbar-right
	{
	text-align: left!important;
	}
	.ttm-topbar-wrapper .top-section-menu li
	{
		margin:0!important; 
	}
	.top-section-menu li a
    {
    	color: #fff;
    	padding: 5px 12px!important;
    }

	.header-btn .ttm-btn.ttm-btn-size-md 
	{
    	font-size: 13px!important;
    	padding: 5px!important;
    	height: 30px!important;
    	line-height: 20px!important;
    	color: #fff;
    	background-color: #1baa4b;
    	margin-right: 5px;		
	}
	.course-search-box		
	{
		display: none;
	}
	.aboutus-box
	{
		display: block!important;
		padding: 20px 1px 20px!important;
	}
	.aboutus-box .aboutus-box-body		
	{
		padding-right: 0px!important;
	}
	.aboutus-box h3
	{
		font-size: 21px!important;
	}
	 .aboutus-box p
	{
	 padding:0!important;
	 text-align: justify;
    }
	.row
	{
		margin-left: 0px!important;
		margin-right: 0px!important;
		}
	.caption h3
	{
		font-size:24px!important;
	}
	.caption h5 {
		font-size:17px!important;
	}
.caption h3, h5, p {
padding: 2px 40px!important;
text-align: justify;
word-spacing: -1px;
}
.caption li
{
font-size:14px!important;	
}
.caption ul li img
{
	width: 40px!important;
}
.single-item
{
	height: 500px!important;
}
.single-item-text h4
{
padding: 0px 15px!important;	
}
.single-item-text p
{
	padding: 0px 15px;
text-align: justify;
}

.testimonial
{
	padding:50px 0px!important;
}
.ulockd-blog
{
	padding:50px 0px!important;
}
#sliderblog
{
	margin: 0px!important;
}
#one-grid-slider
{
margin: 0px!important;	
}
.social ul li
{
	width: 300px!important;
	padding: 3px!important;
}
.social ul li i
{
    width: 30px!important;
    height: 30px!important;
    font-size: 14px!important;
}
  
  #main{display:block!important;}

.form-mob-body
{
	padding: 72px 0px!important;
}
.about-logo-content p
{
padding: 0px!important;
}
.about-logo-content 
{
	width:66.67%;
	margin-bottom: 20px;
}
.about-logo
{
	width:33.33%;
	margin-bottom: 20px;
}
.title-bottom {
font-size: 28px;
}
.ulockd-mrgn620
{
	padding:0px 20px!important;
}
.ulockd-about2
{
  padding: 0 0!important;
    position: relative;
 }
 .ulock-about h5
 {
 	padding:0px!important;
 }

.ulock-about-features
{padding-left: 15px!important;
    width: 100%;
    margin-left: 15px!important;
    padding-right: 15px!important;
    margin-right: 15px!important;
    padding-top: 20px;
}
.widget-area
{
	width:49.67%; 
 }
 .ulockd-inner-home {
 	padding: 25px 0!important;
}
 .banner-section
 {

 		padding: 70px 0!important;
 }
 
 .tabcontent 
 {
 	
 		padding:10px 20px!important;
 	 }
 .tab button.active:after
 {
 	left: 25px!important;
 }
.tab button.active
{
	font-size: 14px!important;
	padding:5px 2px!important;
}
.tab button
{
	font-size: 14px!important;
	padding:14px 3px!important;
}
.tabcontent p
{
	padding:0!important;
}
.ulockd-mrgn12175
{
	margin: 0px!important;
}
.event-speaker h4, p
{
padding: 0px 20px!important;
}
.admission-box p
{
	padding: 0px 0px!important;
}
 .ttm-right-span .ttm-col-wrapper-bg-layer {
 	
 		margin-left:-25px!important;
 		margin-right: -25px!important;
 	}
 	.featured-icon-box.left-icon .featured-content
 	{
 		padding-left: 0px!important;
 	}
 	.featured-content h5, p
 	{
 		padding: 2px 30px 2px 30px!important;
 	}
 	.widget_text .widget-title:before
 	{
 		top:55px!important;
 	}
 	.hire-section
 	{
 		margin-left: 0%!important;
 		
 	}
 	.hire-section h4, p
 	{
 		text-align: center;
 	}
 	.hire-section .icon_box 	{
 		text-align: center!important;
 	}
 	.ulockd-btn-white
 	{
 	    margin-bottom: 10px;
 	}
 	h1.color-white {
    text-align: center!important;
    }
    .ulockd-faq-content
    {
        padding-left:40px;
    }
    .ulockd-faq-content .panel .panel-title a .icon-1, .icon-2
    {
        margin-left:-60px;
    }
    .ulockd-faq-box .panel-body
    {
        margin-left:-60px;
    }
    .free-form
    {
        font-size:13px!important;
    }
    .form-wrapper .form-group button::after
    {
        
    position: absolute;
    right: -44px!important;
    }
    .team-details h5
    {
        padding:0px!important;
    }
    .title-contact:after
    {
        position: absolute;
    right: 55%!important;
    }
    .title-contact:before
     {  position: absolute;
    right: 30%!important;
    }
    .facility-messages 
  {
    padding: 10px!important;
  }
   .facility-messages p
   {
   	padding: 5px!important;
   
   }
    .team-memb {
    float: right;
    padding: 20px!important;
}
    
}


/* (min-width:480px) (max-width:767px) */
@media only screen and (max-width:767px){
	/* ExTra Class Start*/
	.tal-xsd {text-align: left;}
	.tac-xsd {text-align: center !important;}
	.dn-xsd {display: none;}
	.fn-xsd {float: none !important;}
	.mrgn620-xsd {margin-bottom: 20px;}
	.mb305-xsd {margin-bottom: 35px !important;}
	.ulockd-pad123692 {padding-left: 15px;padding-right: 15px;}
	.ulockd-pad395-xsd {padding-left: 5px;padding-right: 5px;}
	.pad17 {padding-top: 8% !important;}
	.pad390-md {padding-left: 15px !important;padding-right: 0 !important;}
	.fz60 {font-size: 44px;}
	.fz48,.fz45 {font-size: 30px;}
	.fz40 {font-size: 24px;}
	h1 {font-size: 20px;}
	/* ExTra Class End*/
	/* Hero Slider Nav */
	.cd-slider-nav {
		width: 100%;
	}
	/* Navbar Style*/
	.navbar.bootsnav .dropdown li{padding: 10px 15px;}
	.navbar.bootsnav .dropdown li:hover > a {padding-left: 15px;}
	.navbar.bootsnav .dropdown li > a{color: #111; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
	/* Navbar End*/
	.htc-info {text-align: center !important;}
	.htc-info .ulockd-info{padding: 0;}
	.htc-info .ulockd-icon{display: table;float: none;margin: 0 auto;}
	.ulockd-ohour-info{text-align: center !important;}
	.ulockd-ohour-info .ulockd-icon{display: table;float: none !important;margin: 0 auto;}
	.ulockd-ohour-info.style2 {padding-bottom: 10px;padding-top: 10px;}
	.welcm-header-middle{margin-bottom: 30px;margin-top: 20px;}
	/* home slider 2 start */
	.main-slider2 .slider-text1{font-size: 30px;line-height: 30px;}
	.main-slider2 .slider-text2{font-size: 32px;line-height: 32px;}
	.main-slider2 .owl-prev, .main-slider2 .owl-next {display: none !important;}
	.main-slider2 .slider-text3 p{font-size: 14px;line-height: 16px;margin-top: 0;}
	.main-slider2 .mslider-caption {padding: 15% 8%;}
	/* home slider end */
	.welcm-header-middle{text-align: center;}
	.masonry-gallery.grid-3 .isotope-item {width: 50%;}
    .masonry-gallery.grid-4 .isotope-item, .masonry-gallery.grid-5 .isotope-item, .masonry-gallery.grid-6 .isotope-item,.masonry-gallery.grid-7 .isotope-item, .masonry-gallery.grid-8 .isotope-item, .masonry-gallery.grid-9 .isotope-item, .masonry-gallery.grid-10 .isotope-item {width: 50%;}
    .ulockd-error{font-size: 48px;}
    .ulockd-csoon{font-size: 36px;}
	.team-two-details {bottom: 0;}

	.flip-container {margin-bottom: 15px;}
	.ulockd-footer-qlink{margin-bottom: 80px;}
	.divider-triangle.half-block::before {width: 100%;}
	.logo-widget{margin-bottom: 15px;}	
	.feature-box, .font-icon-social {margin-bottom: 30px;}
	.feature-box .overlay {padding: 30px 5px;}
	.team_member .tm_thumb {padding: 30px 10px 0;}
	.team_member .tm_details {padding: 5px 15px 20px;}

	/* Icon-box */
	.icon_box {padding: 20px;}
	.icon_box .ib_details h4 {margin-top: 20px;}
	.upcoming-event.ulockd-flip-clock.ulockd-mrgn1250 {margin-top: auto;}
	.divider-half:before {width: 0;}
	.footer-padding {padding: 80px 15px 70px;}
	.ulockd-mrgn1225 {margin-top: inherit !important;}
	.feature-box img {height: auto !important;}
}

@media only screen and (max-width:630px){
	/* Main Slider 2 Start*/
	.main-slider2 .mslider-caption{padding:10% 6%;}
	/* Main Slider End*/
	.feature-box .overlay {padding: 20px 5px;}
	.twitter-widget {margin-bottom: 40px;}
	.upcoming-event .clock.flip-clock-wrapper, .clock.flip-clock-wrapper {margin-left: -10px !important;width: 104%;}
	.ulockd-flip-clock .clock .flip-clock-label {margin-top: 130px;}
    .upcoming-event .clock.flip-clock-wrapper .flip, .clock.flip-clock-wrapper .flip {margin-bottom: 50px;}
    .team-member-two .team-two-details {bottom: -85%;}
}
/* (min-width:361px) (max-width:580px) */
@media only screen and (max-width:580px){
	.flip-clock-wrapper ul {width: 54px;}
	.ulockd-uconctruction-ttl {font-size: 48px;}
}
/* (min-width:361px) (max-width:520px) */
@media only screen and (max-width:520px){
	/* ExTra Class */
	.tac-xxsd {text-align: center;}
	.mb30-xxsd {margin-bottom: 30px;}
	.col-xxs-12 {width: 100% !important;}
	.ulockd-pad395, .rs-smd-pad395 {padding-left: 15px;padding-right: 15px;}
	.ulockd-pad30 {padding-right: 15px;}
	.ulockd-pad90 {padding-left: 15px;}
	.ulockd-pad390 {padding-left: 15px;padding-right: 15px;}
	/* ExTra Class End*/
	.carousel-indicators {display: none;}
	.carousel-caption h1 {font-size: 30px;}
	.carousel-caption > p {font-size: 24px;}

	.about-box h3 {padding-top: 15px;}
	.about-box2 h3 {padding-top: 10px;}
	.feature-box h3 {margin-top: 15px;}
	.feature-box .overlay {padding: 25px;}
	.financial-chart {display: none;}
	.testimonial-grid {margin-bottom: 30px;}
	.media-body.history-details {padding: 10px 15px 10px 0;}
	.ulockd-footer-qlink{margin-bottom: 0px;}
	.pogoSlider h1, .pogoSlider h2, .pogoSlider h3, .pogoSlider h4 {margin-top: 0;font-size: 18px;}
	.pogoSlider-nav {display: none;}
	.flip-clock-wrapper ul {width: 40px;}
	.flickr-widget li {padding: 5px;}	
	.twitter-widget, .tag-widget, .news-widget, .link-widget, .widget-about, .ulockd-footer-newsletter {margin-bottom: 30px;}
	.twitter-widget h3, .tag-widget h3, .news-widget h3, .link-widget h3, .widget-about h3 {margin-bottom: 10px;}
	.mail-widget, .call-widget {margin-bottom: 30px;}
	.course-box .cb-details h3 {margin-top: 20px;}
	.course-search p {margin-bottom: 30px;}
	.ulockd-contact-form.style2 {padding: 20px;}

}
/* (min-width:361px) (max-width:479px) */
@media only screen and (max-width:479px){
	/* Main Slider Start*/
	.main-slider2 .slider-text3 {margin-top: 0;}
	.main-slider2 .slider-text2{font-size: 23px;line-height: 30px;}
	/* Main Slider End*/
	.masonry-gallery.grid-2 .isotope-item, .masonry-gallery.grid-3 .isotope-item {width: 100%;}
    .masonry-gallery.grid-4 .isotope-item, .masonry-gallery.grid-5 .isotope-item, .masonry-gallery.grid-6 .isotope-item, .masonry-gallery.grid-7 .isotope-item, .masonry-gallery.grid-8 .isotope-item, .masonry-gallery.grid-9 .isotope-item, .masonry-gallery.grid-10 .isotope-item  {width: 100%;}
	.fancybox-gallery-slider .owl-prev,
	.fancybox-gallery-slider .owl-next {display: none !important;}
	.carousel-caption > p {display: none;}
}
@media only screen and (max-width:414px){
	.ulockd-blog-post h3 {font-size: 20px;}
	.pogoSlider button.btn {display: none;}
	.upcoming-event .clock.flip-clock-wrapper, .clock.flip-clock-wrapper {width: 86%;}
}
@media only screen and (max-width:400px){
	/* Main Slider Start*/
	.main-slider2 .mslider-caption{padding: 13% 5%;}
	.main-slider2 .slider-text1{font-size: 24px;}
	.main-slider2 .slider-text2{font-size: 20px;}
	.main-slider2 .slider-text3 p{display: none;}
	/* Main Slider End*/
	.cd-half-width.pad17 > h4 {font-size: 15px;}
	.cd-half-width.pad17 > h1, .cd-half-width.pad17 > h2 {font-size: 30px;}
	.cd-hero-slider h3 {font-size: 16px;}
	.cd-hero-slider p {font-size: 12px;}

	/* ExTra Class Start*/
    .upad395xsd {padding-left: 5px;padding-right: 5px;}
	/* ExTra Class End*/
	.carousel-caption.style2 {top: 5%;}
	.why-choose-slider button.btn {margin-bottom: 10px;}
	.pogoSlider h1, h2, h3, h4 {margin-top: 15px;}
	.upcoming-event.ulockd-flip-clock {display: none;}

}
/* (min-width:321px) (max-width:360px) */
@media only screen and (max-width:360px){
	.fz48, .fz45 {font-size: 20px;}
	.cd-hero-slider h2 {font-size: 1.85rem;}
}
@media only screen and (max-width:320px){
	.cd-full-width {padding-top: 75px !important;}
	.flip-container .flipper .back {padding: 45px 13px;}
    .divider-title .list-inline > li { padding-left: 0; padding-right: 0;}
    .subscribe button {margin-left: -33px;}
    .carousel-caption.style2 {top: 0;}
    .btn-ground button.btn {margin-bottom: 10px;}
	.clock.flip-clock-wrapper {margin: -10px !important;width: 102%;}
	.flip-clock-wrapper ul {width: 53px;}
}
@media only screen and (max-width:720px){

.overlay-2 .heading-2
{
	padding:10px!important;
	font-size: 20px!important;

}

.overlay-2 .text {
    position: absolute;
    top: 30%!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.ttm-topbar-wrapper .ttm-social-links-wrapper
{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
}